html {
  font-size: 10px;
}

body {
  font-family: Lato, Tahoma, sans-serif;
}

h1 {
  font-family: Lato;
  font-size: 4rem;
  letter-spacing: 1.02px;
  color: #2d3950;
}

header {
  height: 100px;
  background: #ffffff;
}

header .container {
  height: 100%;
}

header .container .row {
  height: 100%;
}

header .container .row .logo {
  margin-left: 10px;
}

.header_company_name {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  color: #2d3950;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.02px;
}

.header_company_name:hover {
  text-decoration: none;
  color: #15a4fa;
}

.main {
  background-image: url(../img/banner_image.jpg);
  background-size: cover;
  height: 800px;
}

.main_company_name {
  color: #ffffff;
  font-family: Lato;
  font-size: 12rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 600px;
  margin: 0 auto;
  padding-top: 140px;
  border-bottom: 2px solid #15a4fa;
}

.main_company_slogan {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0.5px;
  padding-top: 140px;
}

.main .btn {
  display: block;
  margin-top: 65px;
  border: 3px solid #15a4fa;
  background-color: #15a4fa;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.main .btn:hover {
  opacity: 0.8;
}

.main .btn a {
  text-decoration: none;
  color: #ffffff;
}

.advantage_main {
  background: #f6f9f9;
}

.advantage_slogan {
  margin-top: 80px;
}

.advantage_descr {
  margin-top: 10px;
  margin-bottom: 110px;
  color: #999999;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
}

.advantage h3 {
  padding-top: 30px;
}

.advantage i {
  text-shadow: 1px 1px 1px rgba(2, 2, 2, 0.4);
  color: white;
  background-color: #15a4fa;
  width: 100px;
  height: 100px;
  font-size: 6rem;
  padding: 20px;
  margin-top: 60px;
}

.advantage p {
  padding: 15px 0;
  color: #999999;
  font-size: 1.5rem;
  letter-spacing: 0.38px;
  margin-bottom: 40px;
}

.portfolio {
  background-color: #f6f9f9;
  height: 90rem;
}

.portfolio_slogan {
  margin-top: 8rem;
}

.portfolio_descr {
  margin-top: 1rem;
  margin-bottom: 80px;
  color: #999999;
  font-size: 2rem;
  letter-spacing: 0.5px;
}

.portfolio .img-fluid:hover {
  background-color: #15a4fa;
  opacity: 0.9;
}

.form {
  background-image: url(../img/bg_road.jpg);
  background-size: cover;
}

.form_overlay {
  background-size: cover;
  height: 700px;
  background-color: #2d3950;
  opacity: 0.9;
}

.form h1 {
  color: #ffffff;
  font-size: 41px;
  text-align: center;
  letter-spacing: 1.02px;
  padding-top: 74px;
}

.form p {
  text-align: center;
  color: #999999;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.38px;
  margin-bottom: 50px;
}

form {
  display: block;
  width: 100%;
  margin: 0 auto;
}

form input {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 60px;
  border: 1px solid #ffffff;
  background-color: #f6f9f9;
  margin-bottom: 22px;
  padding-left: 2%;
  background: transparent;
}

form input:hover {
  border: 1px solid #15a4fa;
  color: white;
}

form button {
  display: block;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 140px;
  height: 45px;
  border: 1px solid #15a4fa;
  background-color: #15a4fa;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.45px;
  cursor: pointer;
}

form label {
  display: inline-block;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.38px;
  cursor: pointer;
}

form label #subscribe {
  display: inline;
  margin: 0;
  padding: 0;
}

footer {
  height: 90px;
  background-color: #f6f9f9;
}

footer .footer {
  margin: 0 10px;
}

footer .footer p {
  color: #999999;
  font-size: 15px;
  letter-spacing: 0.38px;
  padding: 30px 10px;
  margin: 0;
}

footer .footer .social_link {
  width: 40px;
  height: 40px;
  color: #ffffff;
  font-size: 20px;
  padding: 11px;
  cursor: pointer;
}

footer .footer .fa-facebook-f {
  background-color: #3b5998;
  padding: 11px 15px;
}

footer .footer .fa-twitter {
  background-color: #55acee;
}

footer .footer .fa-instagram {
  background-color: #dd4b39;
}

footer .footer .fa-linkedin {
  background-color: #0976b4;
}

@media (max-width: 610px) {
  .advantage_icons i {
    margin-bottom: 10px;
  }
}

/* phone */
@media screen and (min-width: 375px) and (max-width: 609px) {
  .main_company_name {
    font-size: 7rem;
    width: 90vw;
  }
}
/*# sourceMappingURL=style.css.map */