* {
  box-sizing: border-box;
}


body {
  background: rgba(129, 110, 138, 0.521);
  font-family: 'Tinos', serif;
  font-size: 1.5em;
  text-align: center;
  color: #000000;
  margin: 1%;
}

h1 {
  text-align: center;
}

.container {
  display: block;
  height: 600px;
  width: 600px;
  margin: auto;
  margin-top: 100px;

}

.grid-horizontal {
  margin-left: 20px;
  letter-spacing: 26px;
  margin-bottom: 5px;
}

.wrap {
  display: inline-flex;
}
.grid-vertiсal {
  width: 15px;
  line-height: 70px;
  margin-left: 10px;
}

.field {
  height: 560px;
  width: 560px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.excel {
  width: 70px;
  height: 70px;
  padding: 5px;
  border: 1px solid black;
  color: yellow;
  z-index: 1;
}
.black {
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
  -webkit-background-size: cover;
}

.class-in {
  background-color: blue;
  border: 1px solid black;
  -webkit-background-size: cover;
  background-size: cover;
  width: 70px;
  height: 70px;
}

.class-out {
  -webkit-background-size: cover;
  background-size: cover;
  background-color: green;
  border: 1px solid black;
  width: 70px;
  height: 70px;
}